/* Pour crée ma bar de navigation de page à page. Source:https://www.w3schools.com/css/css_navbar.asp */
.nav-menu ul {
  margin: 10px 60px;
  padding: 0;
} 

.nav-menu h2, p {
  margin: 10px;
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #DEB877;
  display: flex;
  justify-content: center;
}

.nav-menu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-menu ul li a:hover {
  background-color: #FFE4C4;
}
/*Pour ma navigation des liens interne. Source: https://www.w3schools.com/css/css_navbar.asp*/
.section-interne ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
}

.section-interne li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.section-interne li a:hover {
  background-color: #555555;
  color: white;
}
/*Pour mes boîtes un peu gris en arrière du text dans la page voyage parfait. Source: https://developer.mozilla.org/fr/docs/Learn_web_development/Howto/Solve_CSS_problems/Create_fancy_boxes*/
.joli {
  padding:1em;
  width: 1150px;
  height: 100%;
  box-sizing: border-box;
  background-color:#e4e4d9;
}
/*Pour ma boîte de fait interesant dans le bas de la page voyage parfait. Source: https://developer.mozilla.org/fr/docs/Learn_web_development/Howto/Solve_CSS_problems/Create_fancy_boxes*/
.joli2 {
  text-align: center;
  padding: 0.5em;
  border: 0.2em solid black;
  width: 100
em;
  height: 4em;
}
/*Pour enlever les points du ul.*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
